name: Create Release Tag

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Release type: patch / minor / major'
        required: true
        default: patch
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  create_tag:
    runs-on: ubuntu-latest

    permissions:
      contents: write   

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0   

      - name: Auto-generate tag
        id: tag
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GH_PAT_TAG }}
          default_bump: ${{ github.event.inputs.release_type }}
          tag_prefix: v

      - name: Output new tag
        run: |
          echo "New tag: ${{ steps.tag.outputs.new_tag }}"
          echo "Old tag: ${{ steps.tag.outputs.previous_tag }}"
